<p class="exercise-instruction">Choose exercise</p>
<ul class="pagination" id="exercises">
  <li ng-repeat="exercise in vm.workshop.getExercises()" ng-class="{ active: $index == vm.workshop.currentExercise }">
    <a ui-sref="workshop({workshopId: vm.workshop.getId(), exercise: $index + 1})">{{$index + 1}}</a>
  </li>
</ul>

<h2>
    Exercise {{vm.workshop.currentExercise + 1}}:
    {{ vm.exercise.name }}
</h2>

<p>{{vm.exercise.description}}</p>

<div ng-if="vm.exercise.diagram">
    <a target="_blank" ng-href="{{vm.exercise.diagram}}" title="View large size in in new tab">
        <img ng-src="{{vm.exercise.diagram}}" width="100%"/>
    </a>
</div>

<p class="btn notes" ng-if="vm.exercise.link">
    <a target="_blank" ng-href="{{vm.exercise.link}}">See full exercise notes</a>
</p>
